Makefile.in
aclocal.m4
autom4te.cache/
config/depcomp
config/install-sh
config/missing
configure
src/Makefile.in
src/config.h.in
*.o
Makefile
config.log
config.status
/src/.deps
/src/stamp-h1
/config.h
src/config.h
src/phyltr-dp
src/phyltr-event-combinations
src/phyltr-fpt
src/phyltr-gen-gtree
src/phyltr-gen-stree
